.App{
  min-height: 100vh;
  background-color:#001e3c;
  color:#fff;
  padding-top: 130px;
  padding-bottom:70px ;
}

@media (max-width:700px)
{
  .App{
    padding-top:70px ;
  }
}

.pageTitle{
  text-transform: uppercase;
  font-size: 2rem;
  padding: 4px;
  border-radius:50px;
  color:white;
  display: flex;
  justify-content: center;
}

